<div class='la-container landing-page'>
    <section class='app-info'>
        <div class='row'>
            <div class='col-md-6'>
                <div class='text-container'>
                    <h1>
                       Твоите омилени книги
                        <span>на едно место</span>
                    </h1>
                    <div class='text-list-container'>
                        <div class='row'>
                            <div class='col-md-2'>
                                <div class="icon-holder">
                                  <span class="home-icon"></span>
                                </div>
                            </div>
                            <div class='col-md-10 home-text-holder'>
                                <label>Пребарувај книги во нашата библиотека</label>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-md-2'>
                                <div class="icon-holder">
                                    <span class="home-icon icon-2"></span>
                                  </div>
                            </div>
                            <div class='col-md-10 home-text-holder'>
                                <label>Во секое време означи која книга сакаш да ја прочиташ</label>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-md-2'>
                                <div class="icon-holder">
                                    <span class="home-icon icon-3"></span>
                                  </div>
                            </div>
                            <div class='col-md-10 home-text-holder'>
                                <label>Препорачај книга на други читатели</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='btn-container'>
                    <button class='btn app-info-btn'> ДОЗНАЈ ПОВЕЌЕ

                    </button>

                </div>

            </div>
            <div class='col-md-6'>
                <object type="image/svg+xml" data="../../../assets/images/illustrations/girl-reading-book.svg" class="max-width-illustration">
                </object>
            </div>
        </div>
    </section>

    <section class='top-books'>
        <div class='row'>
            <div class='col-md-12'>
                <div class='text-container text-center'>
                    <h1>
                        Топ 3 книги
                        <span> на годината</span>
                    </h1>
                </div>
            </div>
            <div class='col-md-12 top-book-delimiter' *ngFor="let book of books; let i = index">
                <div class='row' >
                    <div class='col-md-9'>
                        <span class='top-book-title'>{{i+1}}. {{book.title}}</span>
                    </div>
                    <div class='col-md-3'>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>
                        <img  [src]='book.imageUrl' class='top-book-image'>
                    </div>
                    <div class='col-md-9'>
                        <span class='top-book-author'>
                            {{getAuthors(book.author)}}
                        </span>
                        <p class='top-book-resume'>
                            {{book.description}}
                        </p>
                    </div>

                </div>
            </div>

        </div>

    </section>

    <section class='subsrcibe-section'>
        <div class='row'>
            <div class='col-md-12'>
                <div class='text-container text-center'>
                    <h1>
                        Претплати се на нашата
                        <span>библиотека</span>
                    </h1>
                </div>
                <div class='input-form-container text-center'>
                    <input type='text' placeholder="Внесете ја вашата емаил адреса" class='subscribe-input'>
                    <button class='btn app-subscribe-btn'> ПРЕТПЛАТИ СЕ </button>
                        
                </div>
            </div>
        </div>
    </section>
   
</div>