<div class="page-title">
    <span>Конфигурација</span>
</div>

<div class="tab-container">
    <ngb-tabset>
        <ngb-tab>
            <ng-template ngbTabTitle routerLinkActive="active">
                <a [routerLink]="['authors']">Автори</a>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Книги"></ngb-tab>
        <ngb-tab title="Корисници"></ngb-tab>
        <ngb-tab title="Регистри"></ngb-tab>
    </ngb-tabset>
</div>

<div class="config-page">
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>