<div class="filter-container row">
    <div class="col-md-6 filter-container">

    </div>
    <div class="col-md-6 action-btn-container">
        <button (click)="addAuthor()" class="btn config-action-btn">Нов автор</button>
    </div>
</div>
<div class="list-container">
    <table class='table table-hover config-table'>
        <thead>
            <tr>
                <th>Име</th>
                <th>Биографија</th>
                <th>Акции</th>x
            </tr>
        </thead>
        <tr *ngFor="let author of authors">
            <td>
                <div class='flex-box'>
                    <div class='avatar-container'>
                        <img [src]="getAuthorImage(author.imageUrl)" class='avatar'>
                    </div>
                    <div class='details-container'>
                        <h4>{{author.firstName}}  {{author.lastName}}</h4>
                    </div>
                </div>

            </td>
            <td>
                {{author.biography}}
            </td>
            <td>
                <a class="table-action-link" (click)="deleteAuthor(author)">Избриши </a>
                <a class="table-action-link" (click)="updateAuthor(author)">Промени </a>
            </td>
        </tr>
    </table>
</div>