<div class="modal-header">
    <h4 class="modal-title">{{modalTitle}}</h4>
    <button type="button" class="close" aria-label="Затвори" (click)="cancelAction()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Име</label>
            <input [(ngModel)]="author.firstName" name="firstname" type="text" class="form-control" placeholder="Внеси име">
            <small class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Презиме</label>
            <input [(ngModel)]="author.lastName" name="lastname" type="text" class="form-control" placeholder="Внеси презиме">
            <small class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Биографија</label>
            <textarea [(ngModel)]="author.biography" name="biography" class="form-control" placeholder="Внеси биографија"
                rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">URL за слика</label>
            <input [(ngModel)]="author.imageUrl" type="text" name="imageUrl" class="form-control" placeholder="Внеси URL">
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="confirmAction()">Во ред</button>
    <button type="button" class="btn btn-light" (click)="cancelAction()">Откажи</button>
</div>