<header>
    <div class='la-container'>
        <div class='row'>
            <div class='col-md-4'>
             <a class='app-top-logo' [routerLink]="['/home']"></a>
            </div>
            <div class='col-md-8'>

                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class='nav-link' routerLinkActive="active" [routerLink]="['/home']">Почетна</a>
                    </li>
                    <li class="nav-item">
                        <a class='nav-link' routerLinkActive="active" [routerLink]="['/books']">Книги</a>
                    </li>
                    <li class="nav-item">
                        <a class='nav-link' routerLinkActive="active">Новости</a>
                    </li>
                    <li class="nav-item">
                        <a class='nav-link' routerLinkActive="active">За нас</a>
                    </li>
                    <li class="nav-item">
                        <a class='nav-link' routerLinkActive="active" [routerLink]="['/config']">Конфигурација</a>
                    </li>
                </ul>

            </div>
        </div>

    </div>
</header>