/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";
@import "~@ng-select/ng-select/themes/default.theme.css";

p {
    margin: 0;
    padding: 0;
}
body {
    color: #0a1530;
}


div.card-header {
    font-size: large;
}

div.card {
    margin-top: 10px
}

.table {
    margin-top: 10px
}

.la-container {
    max-width: 1140px;
    margin: 0 auto;
}

.max-width-illustration {
    width: 100%;
}

/* ----- Header style ------- */

header {
    background-color: #fff3dc;
    color: #0a1530;
}

header .nav-link {
    padding: 0 12px;
    color: #0a1530;
}

header .nav-link:hover {
    color: #723182;
}

header .la-container {
    padding: 20px 0;
}

.app-top-logo {
    background: url("./assets/images/app-logo.png");
    background-position: 0;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 25px;
    cursor: pointer;
}

.app-top-logo:hover {
    opacity: .8;
}


/* ----- Landing page style ----- */
.landing-page section {
    padding-top: 80px; 
}
.text-container h1 {
    color: #723182;
}
.text-container h1 span {
    color: #fec900;
}

.text-list-container .row {
    padding-top: 20px;
}
.app-info-btn {
    background-color: #723182;
    color: #fff;
    font-size: 12px;
    padding: 6px 26px;
    border-radius: 50px
}
.btn-container {
    padding-top: 25px;
}
.top-books {
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 80px;
    -webkit-box-shadow: 0px 15px 20px 1px rgba(0,0,0,0.04);
    -moz-box-shadow: 0px 15px 20px 1px rgba(0,0,0,0.04);
    box-shadow: 0px 15px 20px 1px rgba(0,0,0,0.04);
}
.top-book-delimiter { 
    margin-bottom: 15px;
}
.top-book-title {
    font-size: 22px;
    font-weight: bold;
}
.top-book-author {
    font-size: 18px;
    font-weight: bold;
    display: block;
    padding-bottom: 7px;
}
.top-book-resume {
    text-align: justify;
}
.top-book-image {
    width: 150px;
    height: 170px;
    padding-top: 7px;
    padding-left: 30px;
}
.input-form-container {
    padding-top: 40px;
}
.subscribe-input {
    border: 0;
    border-radius: 50px;
    padding: 8px 20px;
    width: 400px;
    box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.04);
    margin-right: 15px;
}
.subscribe-input::placeholder {
    color: #DCDEE1;
}
.app-subscribe-btn {
    background-color: #723182;
    color: #fff;
    font-size: 12px;
    padding: 10px 26px;
    border-radius: 50px;
}
.subsrcibe-section {
    padding: 100px 0 !important;
}


/* ----- Footer ----- */
.footer-img-left {
    background: url("./assets/images/footer-img2.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 75px;
    width: 80px;
    display: inline-block; 
}
.footer-img-right {
    background: url("./assets/images/footer-img.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 75px;
    width: 80px;
    display: inline-block; 
}
.footer {
    background-color: #EAB22C;
}
.footer .la-container {
    padding: 15px 0;
}
.footer .nav-item {
    padding-right: 10px;
    color: #723182;
}
.footer .nav-link {
    color: #723182;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
}
.footer-social-container span{
    font-size: 10px;
    color: #723182;
    font-weight: 500;
}

/* ----- Main container ------- */
.main-container.container {
    padding-top: 20px;
    height: 100vh;
}


/* ----- Configuration style ------- */

.config-page {
    padding-top: 15px;
}

.page-title {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #f9c27d;
    border-radius: 5px;
    padding: 18px 16px;
    color: #484848;
}

.config-container .tab-container {
    margin-top: 20px;
}

.config-container .tab-container .nav .nav-link.active {
    color: #EAB22C;
    border-bottom: 2px solid #EAB22C;
}

.config-container .tab-container .nav .nav-link.active a {
    color: #EAB22C;
    cursor: default;
}

.config-container .tab-container .nav .nav-link {
    border: 0;
    cursor: default;
}

.config-container .tab-container .nav .nav-link a {
    color: #723182;
}

.config-container .tab-container .nav .nav-link a:hover {
    text-decoration: none;
    color: #EAB22C;
}
.action-btn-container {
    text-align: right;
}

.list-container {
    padding-top: 5px;
}

.table-action-link {
    font-size: 14px;
    margin-right: 5px;
}

.table-action-link:hover {
    cursor: pointer;
    text-decoration: underline !important;
}

.config-action-btn{
    border-radius: 15px;
    font-size: 13px;
    padding: 5px 25px;
    background-color: #723182;
    color: #fff3dc;
    font-weight: 500;
}

.table.config-table th {
    border-top: 0;
    font-weight: 500;
    color: #818181;
    font-size: 14px;
    border-bottom-width: 1px;
}

.flex-box {
    display: flex;
    flex-direction: row;
}

.avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.details-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: center;
}

.details-container h4 {
    font-size: 14px;
    margin: 0;
}

.details-container p {
    color: #929292;
    margin: 0;
    font-size: 12px;
}

/* ----- Book List Style ------- */

.card .card-header {
    background-color: #f9c27d;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 18px 16px;
    color: #484848;
}

.col-md-2 {
    font-size: 20px;
    font-weight: 500;
    margin-left: 200px;
    margin-bottom: 5px;
    margin-top: -5px;
    color: #ef1d24;
}

.btn.btn-primary {
    background-color: #85dcd2;
    color: #ef1d24;
    font-weight: 500;
    border: none;
}

.btn.btn-primary:hover {
    background-color: #7ef5e7;
    color: #d20c0c;
    border: none;
}

/*.btn.btn-primary:active {
    background-color: #348a80;
    border: none;
    color: #860000;
}*/

.table-head .th{
    color: #ef1d24;
}


/* ----- Book Detail Style ------- */

.btn.btn-outline-secondary {
    background-color: #85dcd2;
    color: #ef1d24;
    font-weight: 500;
    border: none;
    margin-right: 20px;
    margin-left: 10px;
}