<div class="filter-container row">
        <div class="col-md-6 filter-container">
    
        </div>
        <div class="col-md-6 action-btn-container">
            <button (click)="addGenre()" class="btn config-action-btn">Нов жанр
                    <fa-icon [icon]="['fas', 'plus']" size="sm" ></fa-icon>
            </button>
        </div>
    </div>
    <div class="list-container">
        <table class='table table-hover config-table'>
            <thead>
                <tr>
                    <th>Наслов</th>
                    <th class="config-table-action-holder">Акции</th>
                </tr>
            </thead>
            <tr *ngFor="let genre of genres">
                <td>
                    {{genre.title}}
                </td>
                <td class='table-actions-container'>
                        <ng-template #actionsContent>
                                <ul class='popover-actions-menu'>
                                    <li class='popover-actions-item' (click)="updateGenre(genre); p.close()">
                                            <span> Промени </span>
                                    </li>
                                    <li class='popover-actions-item' (click)="deleteGenre(genre); p.close()">
                                         <span> Избриши </span>
                                    </li>
                                </ul>
                            </ng-template>
                        <a class='icon-action' [ngbPopover]="actionsContent" placement="bottom" #p="ngbPopover">
                                <fa-icon [icon]="['fas', 'ellipsis-v']" [classes]="['my-icon-class']"></fa-icon>
                                
                        </a>
                </td>
            </tr>
        </table>
    </div>