<div class="filter-container row">
        <div class="col-md-6 filter-container">
    
        </div>
        <div class="col-md-6 action-btn-container">
            <button (click)="addGenre()" class="btn action-btn btn-sm">Внеси жанр</button>
        </div>
    </div>
    <div class="list-container">
        <table class='table table-hover'>
            <thead>
                <tr>
                    <th>Наслов</th>
                    <th>Акции</th>
                </tr>
            </thead>
            <tr *ngFor="let genre of genres">
                <td></td>
                <td>
                    {{genre.title}}
                </td>
                <td>
                    <a class="table-action-link" (click)="deleteGenre(genre)">Избриши </a>
                    <a class="table-action-link" (click)="updateGenre(genre)">Промени </a>
                </td>
            </tr>
        </table>
    </div>