<div class="modal-header">
        <h4 class="modal-title">{{modalTitle}}</h4>
        <button type="button" class="close" aria-label="Затвори" (click)="cancelAction()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Наслов</label>
                <input [(ngModel)]="role.title" name="name" type="text" class="form-control" placeholder="Внеси име">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="confirmAction()">Во ред</button>
        <button type="button" class="btn btn-light" (click)="cancelAction()">Откажи</button>
    </div>