<div class="filter-container row">
        <div class="col-md-6 filter-container">
    
        </div>
        <div class="col-md-6 action-btn-container">
            <button (click)="addRole()" class="btn action-btn btn-sm">Внеси улога</button>
        </div>
    </div>
    <div class="list-container">
        <table class='table table-hover'>
            <thead>
                <tr>
                    <th>Наслов</th>
                    <th>Таг</th>
                    <th>Акции</th>
                </tr>
            </thead>
            <tr *ngFor="let role of roles">
                <td>
                    {{role.title}}
                </td>
                <td>
                    {{role.tag}}
                </td>
                <td>
                    <a class="table-action-link" (click)="deleteRole(role)">Избриши </a>
                    <a class="table-action-link" (click)="updateRole(role)">Промени </a>
                </td>
            </tr>
        </table>
    </div>