<div class="modal-header">
    <h4 class="modal-title">{{modalTitle}}</h4>
    <button type="button" class="close" aria-label="Затвори" (click)="cancelAction()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Име</label>
            <input [(ngModel)]="user.firstName" name="firstname" type="text" class="form-control" placeholder="Внеси име">
            <small class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Презиме</label>
            <input [(ngModel)]="user.lastName" name="lastname" type="text" class="form-control" placeholder="Внеси презиме">
            <small class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Корисничко име</label>
            <input [(ngModel)]="user.userName" name="username" type="text" class="form-control" placeholder="Внеси корисничко име">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Емаил адреса</label>
            <input [(ngModel)]="user.email" name="email" type="text" class="form-control" placeholder="Внеси email адреса">
            <small class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label class="">
              <input type="checkbox" [(ngModel)]="user.isActive" name="isactive" > Активен
            </label>
          </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="confirmAction()">Во ред</button>
    <button type="button" class="btn btn-light" (click)="cancelAction()">Откажи</button>
</div>