<div class='profile-content-small'>
    <div class='flex-box justify-content-between'>
        <div class='info-avatar-container'>
            <div class='avatar-container'>
                <img src="./assets/images/no-avatar.png" class='avatar avatar--big'>
            </div>
        </div>

        <form class='info-form' name="form" #f="ngForm" novalidate>
            <div class="form-group">
                <label>Име</label>
                <input [(ngModel)]="user.firstName" name="firstName" type="text" class="form-control" placeholder="Внеси име" #firstName="ngModel"
                    [ngClass]="{ 'is-invalid': submitted && firstName.invalid }" required>
                <div *ngIf="submitted && firstName.invalid" class="invalid-feedback">
                    <div *ngIf="firstName.errors.required">Полето е задолжително</div>
                </div>
            </div>
            <div class="form-group">
                <label>Презиме</label>
                <input [(ngModel)]="user.lastName" name="lastName" type="text" class="form-control" placeholder="Внеси презиме" #lastName="ngModel"
                    [ngClass]="{ 'is-invalid': submitted && lastName.invalid }" required>
                <div *ngIf="submitted && lastName.invalid" class="invalid-feedback">
                    <div *ngIf="lastName.errors.required">Полето е задолжително</div>
                </div>
            </div>
            <div class="form-group">
                <label>Корисничко име</label>
                <input [(ngModel)]="user.userName" name="userName" type="text" class="form-control" placeholder="Внеси корисничко име" #userName="ngModel"
                    [ngClass]="{ 'is-invalid': submitted && userName.invalid }" required>
                <div *ngIf="submitted && userName.invalid" class="invalid-feedback">
                    <div *ngIf="userName.errors.required">Полето е задолжително</div>
                </div>

            </div>
            <div class='action-container'>
                <button type="button" class="btn btn-primary" (click)="saveChanges(f.form.valid)">Зачувај промени</button>
            </div>
        </form>

    </div>
</div>